@using CuaHangThucPham.Models
@model IEnumerable<CuaHangThucPham.Models.Product>

@{
    ViewBag.Title = "Chi Tiết Tin Tức";
}

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tất cả sản phẩm</span>
                    </div>
                    <ul>
                        @foreach (var category in Common.getCategories())
                        {
                            <li>
                                <a href="@Url.Action("Index", "Shop", new { categoryID = category.CategoryID })">
                                    @category.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Bạn cần gì?">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0964505942</h5>
                            <span>hỗ trợ 24/7(h)</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                    <div class="hero__text">
                        <span></span>
                        <h2>Thực phẩm<br />xanh </h2>
                        <p>Có thể đặt hàng hoặc mua trực tiếp!</p>
                        <a href="@Url.Action("Index", "Shop")" class="primary-btn">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var product in Model)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg"
                             style="background-image: url('@Url.Content("img/categories/" + product.img)');">
                            <h5>
                                <a href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                                    @product.ProductName
                                </a>
                            </h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
